USE [master]
GO
/****** Object:  Database [QuanLyLaoDong]    Script Date: 07/05/2019 4:39:20 CH ******/
CREATE DATABASE [QuanLyLaoDong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyLaoDong_DATA', FILENAME = N'E:\Documents\eclipse\doanjava\data\QuanLyLaoDong_DATA.MDF' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyLaoDong_LOG', FILENAME = N'E:\Documents\eclipse\doanjava\data\QuanLyLaoDong_LOG.LDF' , SIZE = 4032KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLaoDong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLaoDong]
GO
/****** Object:  Table [dbo].[CONGTRINH]    Script Date: 07/05/2019 4:39:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGTRINH](
	[MaCT] [nchar](20) NOT NULL,
	[TenCT] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](50) NULL,
	[NgayCapGP] [date] NULL,
	[NgayKC] [date] NULL,
	[NgayHTDuKien] [date] NULL,
	[TongChiPhiDuKien] [float] NULL,
 CONSTRAINT [PK_CONGTRINH] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 07/05/2019 4:39:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nchar](20) NOT NULL,
	[HoNV] [nvarchar](50) NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChiThuongTru] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DiaChiMail] [nvarchar](50) NULL,
	[NgayVaoLam] [date] NULL,
	[TrinhDo] [nchar](10) NULL,
	[MaPB] [nchar](20) NULL,
	[SoNgayCong] [int] NULL,
	[LoaiNV] [nchar](2) NULL,
	[Luong] [float] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 07/05/2019 4:39:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPB] [nchar](20) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANLYNHANVIENCONGTRINH]    Script Date: 07/05/2019 4:39:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLYNHANVIENCONGTRINH](
	[MaNV] [nchar](20) NOT NULL,
	[MaCT] [nchar](20) NOT NULL,
 CONSTRAINT [PK_QUANLYNHANVIENCONGTRINH] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGTINDANGNHAP]    Script Date: 07/05/2019 4:39:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINDANGNHAP](
	[MaNV] [nchar](20) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_THONGTINDANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PHONGBAN] ([MaPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[QUANLYNHANVIENCONGTRINH]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYNHANVIENCONGTRINH_CONGTRINH] FOREIGN KEY([MaCT])
REFERENCES [dbo].[CONGTRINH] ([MaCT])
GO
ALTER TABLE [dbo].[QUANLYNHANVIENCONGTRINH] CHECK CONSTRAINT [FK_QUANLYNHANVIENCONGTRINH_CONGTRINH]
GO
ALTER TABLE [dbo].[QUANLYNHANVIENCONGTRINH]  WITH CHECK ADD  CONSTRAINT [FK_QUANLYNHANVIENCONGTRINH_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[QUANLYNHANVIENCONGTRINH] CHECK CONSTRAINT [FK_QUANLYNHANVIENCONGTRINH_NHANVIEN]
GO
ALTER TABLE [dbo].[THONGTINDANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDANGNHAP_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[THONGTINDANGNHAP] CHECK CONSTRAINT [FK_THONGTINDANGNHAP_NHANVIEN]
GO
USE [master]
GO
